/*
* @Author: leopku
* @Date:   2017-07-02 18:26:36
* @Last Modified by:   leopku
* @Last Modified time: 2017-07-10 19:24:08
*/

html, body {
  color: #5e6d82;
  font-size: 14px;
}

.tag-icon {
  border-radius: 4px;
  width: 1.333em;
  height: 1.333em;
  display: inline-block;
  vertical-align: -3px;
  background-color: #e8ecf3;
}

// not used
.btn-size--regular {
  height: 2.9em;
}
//

.no-border {
  border-width: 0;
}

.full--width {
  width: 100%;
}

.hover-background--gray:hover {
  border-radius: 4px;
  background-color: #e8ecf3;
}

/** float **/
.float-right {
  float: right;
}

/** fg/bg **/
.fg-white {
  color: #fff;
}

.fg-white--dark {
  color: #F9FAFC;
}

.fg-gray {
  color: #D3DCE6;
}

.fg-gray--extra {
  color: #EFF2F7;
}

.fg-silver--extra {
  color: #C0CCDA;
}

.fg-silver--light {
  color: #99A9BF;
}

.fg-silver {
  color: #8492A6;
}

.fg-black {
  color: #1F2D3D;
}

.fg-black--light {
  color: #324057;
}

.fg-black--extra {
  color: #475669;
}

.bg--white {
  background-color: #fff;
}

.bg--dark {
  background-color: #445d7d;
  // border-color: #445d7d;
}

.bg-gray--light {
  background-color: #E5E9F2;
}

.bg-gray--lighter {
  background-color: #F9FAFC;
}

.bg-gray--extra {
  background-color: #e8ecf3;
}

.bg--orange {
  background-color: rgb(254, 181, 77);
}

.bg--deepskyblue {
  background-color: rgb(103, 204, 234);
}

.bg--turquoise {
  background-color: rgb(146, 230, 217);
}

.bg--mediumturquoise {
  background-color: rgb(154, 206, 199);
}

/** text **/
.text-emphasis--big {
  font-size: 2em; // 24px
}

.text-emphasis {
  font-size: 1.833em; // 22px
}

.text-emphasis--small {
  font-size: 1.667em; //20px
}

.text-regular--big {
  font-size: 1.5em; // 18px
}

.text-regular {
  font-size: 1.333em; // 16px
}

.text-regular--small {
  font-size: 1.167em; // 14px
}

.text-assist--big {
  font-size: 1em; // 12px
}

.text-assist {
  font-size: 0.83em; // 10px
}

.text-assist--small {
  font-size: 0.667em; // 8px
}

.font-weight--500 {
  font-weight: 500;
}

/** flexbox **/
.flex {
  display: flex;
}

.flex-direction--column {
  flex-direction: column;
}

.flex-justify--center {
  justify-content: center
}

.flex-justify--start {
  justify-content: flex-start;
}

.flex-justify--end {
  justify-content: flex-end;
}

.flex-justify--between {
  justify-content: space-between;
}

.flex-justify--around {
  justify-content: space-around;
}

.flex-align--middle {
  align-items: center;
}

.flex-align--baseline {
  align-items: baseline;
}

/* animate */
.transition-width {
  transition: width 10s ease-out;
  -webkit-transition: width 10s ease-out;
}

/* hack*/
/** element-ui **/
a, a:hover, a:focus {
  color: #1F2D3D;
}

.el-button:hover, .el-button:focus {
  color: white;
  border-color: transparent;
}

.el-menu-item:hover, el-menu-item:focus {
  background-color: transparent;
}

.el-menu--horizontal>.el-menu-item:hover {
  border-bottom: 0 solid transparent;
}

@media screen and (max-width: 47.99em) {
  .el-col-xs-0 {
    display: none;
  }
}

@media screen and (min-width: 48em) and (max-width: 61.99em) {
  .el-col-sm-0 {
    display: none;
  }
}

@media screen and (min-width: 62em) and (max-width: 74.99em) {
  .el-col-md-0 {
    display: none;
  }
}

@media screen and (min-width: 75em) {
  .el-col-lg-0 {
    display: none;
  }
}

/** typicon **/
.typcn:before {
  font-size: 1.833em;
}
